.w3-theme-2-l5 {color:#000 !important; background-color:#f7fcf5 !important}
.w3-theme-2-l4 {color:#000 !important; background-color:#e4f4dc !important}
.w3-theme-2-l3 {color:#000 !important; background-color:#c9e9ba !important}
.w3-theme-2-l2 {color:#000 !important; background-color:#aedd97 !important}
.w3-theme-2-l1 {color:#000 !important; background-color:#94d274 !important}
.w3-theme-2-d1 {color:#fff !important; background-color:#69bf3e !important}
.w3-theme-2-d2 {color:#fff !important; background-color:#5da937 !important}
.w3-theme-2-d3 {color:#fff !important; background-color:#519430 !important}
.w3-theme-2-d4 {color:#fff !important; background-color:#467f29 !important}
.w3-theme-2-d5 {color:#fff !important; background-color:#3a6a22 !important}

.w3-theme-2-light {color:#000 !important; background-color:#f7fcf5 !important}
.w3-theme-2-dark {color:#fff !important; background-color:#3a6a22 !important}
.w3-theme-2-action {color:#fff !important; background-color:#3a6a22 !important}

.w3-theme-2 {color:#fff !important; background-color:#79c753 !important}
.w3-text-theme-2 {color:#79c753 !important}
.w3-border-theme-2 {border-color:#79c753 !important}

.w3-hover-theme-2:hover {color:#fff !important; background-color:#79c753 !important}
.w3-hover-text-theme-2 {color:#79c753 !important}
.w3-hover-border-theme-2:hover {border-color:#79c753 !important}